@import "App/App.module.scss";

.root {
  @include flexible-column-center();
  flex-grow: 1;
  .header {
    font-size: 22px;
    line-height: 28px;
  }
  .order {
    display: flex;
    justify-content: flex-end;
    background-color: $bg-primary-color;
    padding: 12px 0 16px 0;
    border-radius: 12px;
    .headerCell {
      text-align: left;
      font-size: 18px;
      line-height: 22px;
      padding: 16px 24px;
      &:first-child {
        padding-left: 42px;
      }
      &:last-child {
        padding-right: 16px;
        padding-left: 0px;
      }
    }
    .cell {
      font-size: 14px;
      line-height: 18px;
      padding: 16px 24px;
      &:first-child {
        padding-left: 42px;
      }
      &:last-child {
        padding-right: 16px;
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .root {
    .header {
      font-size: 18px;
      line-height: 22px;
    }
    .order {
      padding: 6px;
      .headerCell {
        font-size: 12px;
        line-height: 16px;
        padding: 16px 8px;
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 6px;
        }
      }
      .cell {
        box-sizing: border-box;
        font-size: 10px;
        line-height: 14px;
        padding: 8px;
        max-width: 96px;
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 6px;
        }
      }
    }
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .root {
    width: 320px;
  }
}
