@import "../../../../App.module.scss";

.root {
  min-width: 124px;
  min-height: 38px;
  background-color: $primary-color;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: 0.3s background-color;
  &:hover {
    background-color: #7cd369;
  }
}

.sm {
  font-size: 12px;
}

.md {
  font-size: 22px;
}

.lg {
  font-size: 36px;
}

.radius {
  border-radius: 12px;
}
