@import "App/App.module.scss";

.root {
  @include flexible-row-center();
  height: 76px;
  background-color: $bg-primary-color;
  .time {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .root {
    width: 320px;
  }
}
