@import "App/App.module.scss";

.root {
  @include flexible-column-center();
  flex-grow: 1;
  .table {
    background-color: $bg-primary-color;
    border-radius: 12px;
    padding: 12px;
    .headCell {
      text-align: left;
      font-size: 18px;
      line-height: 22px;
      padding: 16px 24px;
      &:first-child {
        padding-left: 42px;
      }
      &:last-child {
        padding-right: 15px;
        padding-left: 0px;
      }
    }
    .cell {
      font-size: 14px;
      line-height: 18px;
      padding: 16px 24px;
      &:first-child {
        padding-left: 42px;
      }
      &:last-child {
        padding-right: 15px;
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .root {
    .header {
      font-size: 24px;
    }
    .table {
      width: 312px;
      padding: 6px;
      .headCell {
        font-size: 12px;
        line-height: 16px;
        padding: 16px 8px;
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 6px;
        }
      }
      .cell {
        font-size: 10px;
        line-height: 14px;
        padding: 8px;
        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 6px;
        }
      }
    }
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .root {
    width: 320px;
  }
}
