@import "App/App.module.scss";

.root {
  min-width: 124px;
  min-height: 38px;
  padding: 8px;
  background-color: $primary-color;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: 0.3s background-color;
  &:hover {
    background-color: #7cd369;
  }
}

.sm {
  font-size: 12px;
}

.md {
  font-size: 22px;
}

.lg {
  font-size: 36px;
}

.radius {
  border-radius: 12px;
}

.disabled {
  min-width: 124px;
  min-height: 38px;
  background-color: #a0a0a0;
  border: 0;
  color: #fff;
}

@media (max-width: 600px) and (orientation: portrait) {
  .root {
    min-width: 90px;
    min-height: 30px;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:active {
      background-color: #7cd369;
    }
  }
  .sm,
  .md,
  .lg {
    font-size: 10px;
  }
  .disabled {
    min-width: 90px;
    min-height: 30px;
    padding: 0;
  }
}
